<configuration>
	<system.webServer>
		<handlers>
			<add name="iisnode" path="app.js" verb="*" modules="iisnode"/>
		</handlers>
		
		<iisnode watchedFiles="*.js;node_modules\*;routes\*.js;views\*.jade" 
nodeProcessCommandLine="\program files\nodejs\node.exe"/>

		<rewrite>
		  <rules>
			<rule name="app">
			  <match url="/*" />
			  <action type="Rewrite" url="app.js" />
			</rule>
		  </rules>
		</rewrite>
		
		<security>
		  <requestFiltering>
			<hiddenSegments>
				<add segment="node_modules" />
			</hiddenSegments>
		  </requestFiltering>
		</security>    
	</system.webServer>
	
	
	
</configuration>